//- use of the paragraph tag requires the use of the pipe '|' sybmol
doctype html 
html(lang="en")
    head
        title FLASH CARDS
        link(rel='stylesheet', href='/static/stylesheets/style.css')
    body
        include includes/header.pug
        block main